<div class="d-flex flex-column align-items-center">

    <div class="container mt-5">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                選擇類別
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#each categories}}
                <li><a class="dropdown-item" href="/sort={{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>


    <h1 class="m-3">總花費為: {{totalCost}}</h1>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>類別</th>
                <th>名稱</th>
                <th>日期</th>
                <th>花費</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        {{#each records}}
        <tr>
            <td>{{{this.categoryId.icon}}}</td>
            <td>{{this.name}}</td>
            <td>{{dateNoTime this.date}}</td>
            <td>{{this.amount}}</td>
            <td><a class="btn btn-primary" href="/record/{{this.id}}/edit">編輯</a></td>
            <td><form action="/record/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger"
                    onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">刪除</button>
            </form></td>
        </tr>
        {{/each}}
    </table>
    <div>
        <a class="btn btn-success" href="/record/new">新增支出</a>

    </div>
</div>

